<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @campus.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @campus.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @campus.location %>
</p>

<p>
<strong> Classrooms: </strong>
<% @campus.classrooms.each do |classroom| %>
<li><%= link_to classroom.room_name, classroom %>
</li>
</p>
<% end %>






<%= link_to 'Edit', edit_campus_path(@campus) if can? :edit, Campus %> |
<%= link_to 'Back', campuses_path %>
