<!DOCTYPE html>
<html>
<head>
  <title>Project1</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Syncopate:400,700' rel='stylesheet' type='text/css'>

  <link href='http://fonts.googleapis.com/css?family=Mandali' rel='stylesheet' type='text/css'>
 
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render partial: "layouts/menu" %>



  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


<section class='main-content'>
<%= yield %>
</section>

</body>
</html>
